.col-12 {
  box-sizing: border-box;
  height: 900px;
    background-image: radial-gradient(blue, purple);
    opacity: .9;
    border: solid 2px hotpink;
  position: inherit;
  display: block;

}
.container {
  margin-top: 40px;
}
.main-button-container {
  max-width: 610px;
  margin: 20px auto 0 auto;
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: violet;
  opacity: .8;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: hotpink;
  opacity: .9;
  border-radius: 4px;
  cursor: pointer;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

body {
  background-image: url("../img/maxresdefault.jpg");
  background-position: center;
  background-size: 100%;
  font-family: 'Press Start 2P', cursive;
  color: lightgray;
}
.h1 {
  font-size: 5vw;
  padding: 20px;
}
.center-block img-right {
   max-width: 250px;
   width: 100%;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
.text-center {
  margin: 55px auto 10px auto;
}
.fa {
    position: absolute;
  display: block;
  margin: -20px 0 0 20px;
}
.img-fluid {
  max-width: 640px;
  width: 100%;
  margin: 20px auto;
  position: inherit;
  display: block;
  border: solid 2px black;
}